<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link href="/assets/css/all.min.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.style.css" />
    <link rel="stylesheet" href="/assets/css/custom.css">

</head>

<body>
    {{> home/header }}
    {{> admin/navigation }}
    {{{ body }}}
    {{> home/footer }}

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    $('#verifyDeleteCategory').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var name = button.data('catname');
        var id = button.data('catid');
        var modal = $(this)
        modal.find('#catName').text(name);
        modal.find('#delLink').attr('href', 'category/' + id + '/delete');
    });
    $('#verifyDeleteProduct').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var name = button.data('name');
        var id = button.data('product');
        var modal = $(this)
        modal.find('#pName').text(name);
        modal.find('#delLink').attr('href', 'product/' + id + '/delete');
    });
    $('#verifyDeleteUser').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var name = button.data('username');
        var id = button.data('id');
        var modal = $(this)
        modal.find('#username').text(name);
        modal.find('#delLink').attr('href', 'user/' + id + '/delete');
    });
    
</script>
</html>