<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link href="/assets/css/all.min.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/HP.style.css" />
    <link rel="stylesheet" href="/assets/css/custom.css">

</head>

<body>
    {{> home/header }}
    {{{ body }}}
    {{> home/footer }}

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/custom.js"></script>

</html>