<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />

  <!-- Slick -->
  <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/HP.slick-theme.css" />

  <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="/assets/css/HP.nouislider.min.css" />

  <!-- Font Awesome Icon -->
  <link href="/assets/css/all.min.css" rel="stylesheet">

  <!-- Custom stylesheet -->
  <link type="text/css" rel="stylesheet" href="/assets/css/HP.style.css" />
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="/assets/css/image-uploader.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


</head>

<body>
  {{> home/header }}
  {{> admin/navigation }}
  {{{ body }}}
  {{> home/footer }}

</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/image-uploader.js"></script>
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<script>
    $(document).ready(() => {
      $('.input-images-2').imageUploader();

      CKEDITOR.replace('editor');
      $('#datetimepicker1').datetimepicker();
      $('#datetimepicker2').datetimepicker();

      $('#product_create_submit').click((e) => {
        // Validation
        if (dataTransfer.files.length < 3) {
         alert('Cần chọn ít nhất 3 ảnh minh họa.');
         return false;
        }
        if (dataTransfer.files.length > 20) {
          alert('Số ảnh minh họa cần nhỏ hơn 20.');
         return false;
        }
        if ($('#form-product-create').find('input[name=name]').val().length == 0) {
          alert('Tên sản phẩm không được bỏ trống.');
         return false;
        }
        if ($('#form-product-create').find('input[name=starting_price]').val().length === 0 || isNaN($('#form-product-create').find('input[name=starting_price]').val())) {
          alert('Giá khởi điểm phải là số nguyên.');
         return false;
        }
        if ($('#form-product-create').find('input[name=bidding_increment]').val().length === 0 || isNaN($('#form-product-create').find('input[name=bidding_increment]').val())) {
          alert('Bước giá phải là số nguyên.');
         return false;
        }
        if ($('#form-product-create').find('input[name=buynow_price]').val().length > 0 && isNaN($('#form-product-create').find('input[name=buynow_price]').val())) {
          alert('Giá mua ngay phải là số nguyên.');
         return false;
        }
        if (isNaN(Date.parse($('#form-product-create').find('input[name=start_time]').val())) || isNaN(Date.parse($('#form-product-create').find('input[name=end_time]').val()))) {
          alert('Ngày giờ sai định dạng. Ngày giờ phải ở dạng: 12/31/2019 13:50.');
         return false;
        }
        else if (Date.parse($('#form-product-create').find('input[name=start_time]').val()) >= Date.parse($('#form-product-create').find('input[name=end_time]').val())) {
          alert('Thời gian kết thúc phải đi sau thời gian bắt đầu.');
         return false;
        }


      })
    })

</script>

</html>