<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Đăng nhập</h5>
                    {{!-- form --}}
                    <form class="form-signin" method="POST" action="/account/login" onsubmit="return submitUserForm();">
                        <div class="form-label-group">
                            <input type="text" id="username" name="username" value="" class="form-control"
                                placeholder="Tên đăng nhập" required autofocus>
                            <label for="username">Tên đăng nhập</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="password" name="password" value="" class="form-control"
                                placeholder="Mật khẩu" required>
                            <label for="inputPassword">Mật khẩu</label>
                        </div>
                        <div class="g-recaptcha ml-5 mb-4" data-sitekey="6LcB38gUAAAAAB3yj43N_fyJd6RHpOUwtKz9xSrw"
                            data-callback="verifyCaptcha"></div>
                        {{#if error}}<div class="alert alert-danger" id="error" align="center">{{error}}</div>{{/if}}

                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-2" type="submit">Đăng nhập</button>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                class="fab fa-facebook-f mr-2"></i> Đăng nhập bằng Facebook</button>
                    </form>
                    <script src='https://www.google.com/recaptcha/api.js'></script>              
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Chưa có tài khoản? &nbsp;<a href="/account/register">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>