<div class="container">
    <div class="row py-2">
        <div class="col-md">
            <div class="card shadow">
                <div class="card-body">
                    DAy la footer
                </div>
            </div>
        </div>
    </div>
</div>