<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- category nav -->
			<div class="category-nav show-on-click">
				<span class="category-header">Danh mục <i class="fas fa-list"></i></span>
				<ul class="category-list">
					{{#each parentCat}}
					<li class="dropdown side-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{CAT_NAME}}<i
								class="fa fa-angle-right"></i></a>
						<div class="custom-menu">
							<div class="row">
								<div class="col-md-4">
									<ul class="list-links">
										{{#each children}}
										<li><a href="/category/{{ID}}">{{CAT_NAME}}</a></li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<!-- /category nav -->

			<!-- menu nav -->
			<div class="menu-nav">
				<span class="menu-header">Menu <i class="fas fa-bars"></i></span>
				<ul class="menu-list">
					<li><a href="/">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Sales</a></li>
					<li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
							aria-expanded="true">Pages <i class="fas fa-caret-down"></i></a>
						<ul class="custom-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="products.html">Products</a></li>
							<li><a href="product-page.html">Product Details</a></li>
							<li><a href="checkout.html">Checkout</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- menu nav -->
		</div>
	</div>
	<!-- /container -->
</div>