<div id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <div class="category-nav">
                <span class="category-header">Bảng điều khiển <i class="fas fa-list"></i></span>
                <ul class="category-list">
                    <li><a href="/admin/category">Danh mục</a></li>
                    <li><a href="/admin/product">Sản phẩm</a></li>
                    <li><a href="/admin/user">Thành viên</a></li>
                </ul>
            </div>

            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fas fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Sales</a></li>
                    <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true">Pages <i class="fas fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="product-page.html">Product Details</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>